/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
body{
    background: url(degcorrecto.jpg);
    background-size: 100%;
	font-family: Arial;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: rgb(159, 0, 252);
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #6f00ff;
	border-bottom: solid 5px #000000;
	color: rgb(0, 247, 255);
}

tr:nth-child(even){
    background-color: #0b89ff;
}